@media (max-width : 1400px) {
    .search-item {
        margin-left: 6rem;
    }

    #navbarNav .navbarmenu {
        margin-left: 13rem;
    }

    #navbarNav .navbarmenu li a {
        margin-left: 2rem;
    }

}


@media (max-width: 1200px) {

    /* nav */
    .search-item {
        margin-left: 4rem;
    }

    #navbarNav .navbarmenu {
        margin-left: 6rem;
    }

    #navbarNav .navbarmenu li a {
        margin-left: 1rem;
    }

    .deroulante {
        margin-left: 1rem;
    }

    /* details-produits */
    .aproposvendeur .col-3{
        width:30%;
    }
    .aproposvendeur .col-9{
        width: 65%;
    }
    .apercu p,.aproposvendeur .textevendeur p,.description_service p,.infodetail p{
        font-size: 17px;
    }
    .ficheproduit,footer .container{
        max-width: 90% !important;
    }
    .infodetail .line{
        margin:20px 0px;
    }
}


@media (max-width: 991px) {

    /* nav */
    /* .container {
        max-width: 90% !important;
        padding-right: 0 !important;
        padding-left: 0 !important;
    } */
    .search-item {
        width: auto;
    }

    .navbarmenu .nav-link {
        background-color: transparent;
        color: black !important;
        padding: 0;
    }

    .deroulante {
        color: black;
        font-size: 40px;
        font-weight: bold;
    }

    #navbarNav .navbarmenu li a {
        color: black;
        box-shadow: none;
        font-size: 25px;
    }

    /* otpverification */
    .otpconfirm .prompt p {
        font-size: 20px;
    }

    /* footer */
    footer .row h5 {
        font-size: 22px;
    }

    footer .row a {
        font-size: 16px;
    }

    .social-icons a {
        font-size: 22px;
    }

    /* detail-produit */
    .detailproduit{
        display: flex;
        flex-direction: column;
    }
    .infodetail,.infoproduit {
        width:100%;
    }
    .infodetail{
        margin-top: 3%;
        height: max-content;
        padding: 50px 50px;
    }
    .apercu img{
        width: 70%;
    }
}
@media(max-width:970px){
    .aproposvendeur .col-3{
        width:40%;
    }
    .aproposvendeur .col-9{
        width: 60%;
    }
    .apercu p,.aproposvendeur .textevendeur p,.description_service p,.infodetail p ,.aproposvendeur .infovendeur p{
        font-size: 16px;
    }
    .aproposvendeur .infovendeur h3{
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    body {
        overflow-x: hidden;
        min-width: 320px;
    }

    /* connexion */
    .otpconfirm .prompt p {
        font-size: 18px;
    }

    /* footer */
    footer {
        text-align: center;
        height: 40%;
    }

    footer .row {
        margin: 0;
        text-align: center;
        flex-direction: column;
    }

    .linefooter {
        padding-top: 20px;
    }

    footer .row h5 {
        margin-top: 20px;
    }

    /* dtails-produits */
    .apercu img{
        width: 100%;
    }
    .infodetail h1 {
        font-size: 22px;
    }
    .apercu h2,.aproposvendeur H2{
        font-size: 25px;
    }
    .apercu p,.aproposvendeur .textevendeur p,.description_service p,.infodetail p,.aproposvendeur .infovendeur p {
        font-size: 14px;
    }
    .aproposvendeur .infovendeur h3{
        font-size: 17px;
    }
}
@media(max-width:650px){
    .aproposvendeur .row {
        display: flex;
        flex-direction: column;
    }
    .aproposvendeur .col-3,.aproposvendeur .col-9{
        width:100%;
    }
}
@media(max-width:600px) {
    .square {
        height: 350px;
    }

    .grid-container {
        grid-template-columns: repeat(auto-fill, minmax(90%, 1fr));
        /* Une image par ligne */
    }
}

@media(max-width:480px) {
    .seemore {
        width: auto;
    }

    .seemore .newsletters {
        width: fit-content;
    }

    .seemore .newsletters span {
        padding: 0px 10px;
    }

    .seemore p {
        font-size: 15px;
        line-height: 20px;
    }

    .seemore h2 {
        font-size: 18px;
        line-height: 50px;
    }

    .seemore .newsletters {
        margin: 0 auto;
    }
    .seemore .newsletters span input[type='submit'] {
        font-weight: 500;
        background: transparent;
        font-size: 13px;
    }

    /* connexion */

    /* detailproduit */
    .infodetail .tarifunique {
        font-size: 15px;
    }
    .infodetail .icone h3 i,.infodetail .prix h3{
        font-size: 20px;
    }
}

/* footer */
@media (max-width: 320px) {
    footer {
        min-width: 100%;
        text-align: center;
    }

}
